server:
  port: 8080

spring:
  application:
    name: api-gateway
  cloud:
    gateway:
      routes:
        - id: book-service
          uri: lb://book-service
          predicates:
            - Path=/book-service/**
          filters:
            - StripPrefix=1
        - id: loan-service
          uri: lb://loan-service
          predicates:
            - Path=/loan-service/**
          filters:
            - StripPrefix=1
        - id: recommendation-service
          uri: lb://recommendation-service
          predicates:
            - Path=/recommendation-service/**
          filters:
            - StripPrefix=1

eureka:
  client:
    service-url:
      defaultZone: ${EUREKA_URI:http://localhost:8761/eureka/}
