server:
  port: ${SERVER_PORT:8080}

spring:
  application:
    name: api-gateway
  cloud:
    gateway:
      globalcors:
        cors-configurations:
          '[/**]':
            allowedOriginPatterns: ${CORS_ORIGIN:http://localhost:3000}
            allowedMethods:
              - GET
              - POST
              - PUT
              - DELETE
              - OPTIONS
            allowedHeaders: "*"
            allowCredentials: true
            maxAge: 3600
      routes:
        - id: book-service
          uri: ${BOOK_SERVICE_URL:http://localhost:8081}
          predicates:
            - Path=/book-service/**
          filters:
            - StripPrefix=1
        - id: loan-service
          uri: ${LOAN_SERVICE_URL:http://localhost:8082}
          predicates:
            - Path=/loan-service/**
          filters:
            - StripPrefix=1
        - id: recommendation-service
          uri: ${RECOMMENDATION_SERVICE_URL:http://localhost:8083}
          predicates:
            - Path=/recommendation-service/**
          filters:
            - StripPrefix=1

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
  instance:
    prefer-ip-address: true
